.CharacterBuilder-Background{
    margin: auto;
    color:#0b182A!important;
    background-color:#1E375F!important;
    
}
.CharacterBuilder-Content{
    margin: auto;
    width: 8.5in;
    height: 11in;
    border: 3px solid #DBAE6F;
    padding: 10px;
    box-shadow: 0px 0px 20px 20px #0b182A;
    background-color:#1E304B!important;
  }

.CharacterBuilder-margin-top{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.CharacterBuilder-row-padding{
    overflow: hidden;
}
.Upper-Container{
    border: 3px solid #fff;
    padding: 10px;
}
.Upper-Child{
    width: 50%;
    float: left;
}
.Logo-Container{
    width: 400px;
    height: 50px;
    background-image: url("XPLogo.png");
    background-size: 400px 50px;
    background-position:center;
}
.Name-Label-Container{
    padding-top: 50px;
    display:flex;
    flex-direction:column;
}
.Arch-Entry{
    line-height: 12px;
    font-size: 19px;
}
.Name-Box{
    line-height: 12px;
    font-size: 19px;
}
.XP-Class-Archetype-Container{
    display: grid;
    width: 40%;
    gap: 10px;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 40px 40px;
}
.Class-Label-Container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction:column;
}

.XP-Label-Container{
    grid-column: 2;
    grid-row: 1;
    display:flex;
    flex-direction:column;
}

.XP-Spent-Label-Container{
    grid-column: 3;
    grid-row: 1;
    display:flex;
    flex-direction:column;
}

.Archetype-Label-Container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    padding-right: 3px;
    display:flex;
    flex-direction:column;
}

.Destiny-Label-Container{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    padding-right: 3px;
    display:flex;
    flex-direction:column;
}

hr.rounded{
  border-top: 3px solid #DBAE6F;
  border-radius: 4px;
  padding: 0px;
}


.Mid-Container{
    display: grid;
    width: auto;
    overflow: hidden;
    gap: 10px;
    grid-template-columns: 196px 196px 196px 196px;
    grid-template-rows: 100px 100px;
}

.HP-Container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    display: grid;
    gap:0px;
    grid-template-columns: 50px 350px;
    grid-template-rows: 25px 75px 25px 75px
}

.HP-Total-Label {
    grid-column: 1;
    grid-row:1;
}
.HP-Total-Entry {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:1;
}
.HP-Current-Label {
    grid-column: 1;
    grid-row:2;
}
.HP-Current-Entry {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:2;
}

.MP-Container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    display: grid;
    gap:0px;
    grid-template-columns: 50px 350px;
    grid-template-rows: 25px 75px 25px 75px
}

.MP-Total-Label {
    grid-column: 1;
    grid-row:1;
}
.MP-Total-Entry {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:1;
}
.MP-Current-Label {
    grid-column: 1;
    grid-row:2;
}
.MP-Current-Entry {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:2;
}